<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leedopoem.ljh.friendlyteacher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".page.newlecture.PublishNewLectureActivity" />
        <activity android:name=".newmessage.NewMessageActivity" />
        <activity android:name=".page.lecturedetail.LectureDetailActivity" />
        <activity android:name=".newmessage.homepage.HomePageActivity" />
        <activity android:name=".page.personalsetting.PersonalMessageSettingActivity" />
        <activity android:name=".page.zhuce.ZhuceActivity" />
        <activity android:name=".page.findpassword.FindPasswordActivity"></activity>

    </application>

</manifest>